@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'falafel';
    src: url('./fonts/falafel.woff2') format('woff2'),
         url('./fonts/falafel.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: blue;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
  font: 2.5rem "falafel", sans-serif;
}

.main {
    padding: 100px;
}